html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none !important;
    color:black !important;
    transition:all 0.3s linear;
    border:1px solid transparent;
}

.header a:hover {
    border-bottom:1px solid red;
}
.header a{
    float:right;
    margin-left:20px;
}
.blog{
    padding:10px 8%;
}
.post-thumbnail{
    margin-bottom: 20px;
}
.post{
    margin-bottom:20px;
}
.header {
    padding:20px;
    border:2px solid black;
    border-top-color: transparent;
    margin:auto 8%;
    box-shadow:0 2px 5px grey;
}

.continue:hover {
    color:white !important;
}

.clear:after{
    display:block;
    clear:both;
    content:"";
}

.not table{
    width: 100%;
}
.not table td {
    width:33%;
    text-align:center;
}
.not table tr:not(.genel){
    transition:opacity 0.5s
}
.not table td:nth-child(3) input:not(.submit){
    width:49%;
    float:left;
    
}
.not table td input[type='text'],input[type="number"] {
    text-align:center;
    text-transform:capitalize;
}
.not table td:nth-child(even){
    width:20%;
}

.f{
    margin-left:1%;
}
.jumbotron{
    padding-right:0.3rem;
    padding-left:0.3rem;
}

.d{
    float:left;
    background:green;

}
.ddc div{
    float:left;
}
.ddc div:first-child{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.ddc button{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.clear:after{
    display:block;
    content:'';
    clear:both;
}