<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Genel Ortalama Hesaplama</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    
    <script src="script/vue.js"></script>
    <script src="script/jquery.js"></script>
</head>
<body>
    

    <div class="container jumbotron" id = "ders" >
            <div id = "bolumler">
                <select v-model="selected" class="form-control form-group">
                    <option value="0">Seçiniz</option>
                    <option value="bilgisayar"> Bilgisayar</option>
                    <option value="biyomedikal"> Biyomedikal</option>
                    <option value="cevre"> Çevre</option>
                    <option value="elektrik">Elektrik ve Elektronik</option>
                    <option value="endustri">Endüstri</option>
                    <option value="insaat">İnşaat</option>
                    <option value="makine">Makine</option>
                    <option value="mekatronik">Mekatronik</option>
                    <option value="tekstil">Tekstil</option>
                </select>
            </div>
        <div class="not" v-if="selected !='0' && selected != 'mekatronik' ">
            <table class="table table-dark" style="user-select:none;">
                <tr class="genel">
                    <td>
                        <span v-if = "nt == -1 || nt == 0">Genel Ortalama</span>
                        <span v-else-if = "f == 0 && v !=0">Vize Ortalaması</span>
                        <span v-else-if = "v == 0 && f !=0">Final Ortalaması</span>
                        <span v-else-if = "f != 0 && f !=-1 && v != 0 && v != -1">Genel Ortalama</span>
                    </td>
                    <td><span v-show="nt != -1 && !isNaN(nt)">{{ nt }} {{h}}</span></td>
                    <td><span v-show="dort != -1">{{ dort }}</span></td>
                </tr>
                <tr v-on:click="drtdlt" v-for = "(value,index) in items">
                    <td >{{ items[index][0] }}</td>
                    <td >{{ items[index][1] }}</td>
                    <td >
                        <input type="number" min="0" max= "100" class="form-control">
                        <input type="number" min="0" max= "100" class="form-control">  
                    </td>
                </tr>
                <tr class = "scml">
                    <td><input type="text"  class="form-control"></td>
                    <td><input type="number"  class="form-control ekkredi"></td>
                    <td >
                        <input type="number" min="0" max= "100" class="form-control">
                        <input type="number" min="0" max= "100" class="form-control">  
                    </td>
                </tr>
                <tr>
                    <td colspan="3"><input type="submit" v-on:click="sub" value = "Hesapla" class = "submit btn btn-primary form-control"></td>
                </tr>
            </table>
        </div>
        <div v-if= "selected == '0'">
            <h1 align='center'>lütfen bölüm seçiniz</h1>
        </div>
        <div v-if= "selected == 'mekatronik'">
            <h1 align='center'>Bu bölümle ilgili herhangi bir bilgi yok</h1>
        </div>

        <div v-show="selected !='0' && selected !='mekatronik' " class="ddc clear">
            <div v-on:click="dlta" class="col-6 btn btn-danger ">KALDIR</div>
            <div v-on:click="drta" class="col-6 btn btn-success">GERİ GETİR</div>
        </div>
    </div> 

    
    <script src="script/script.js"></script>
</body>
</html>