<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>İletişim</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="/index.html">Anasayfa</a>
        </div>  
    
        <div class="jumbotron">
            <div class="row contact">
                <div class="col">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean blandit lectus dui, at hendrerit urna porttitor mollis. Nullam lorem mauris, auctor sit amet eros ac, feugiat facilisis nisi. Nam enim dui, pulvinar finibus felis ac, scelerisque vulputate massa.
                        Morbi pretium urna at faucibus ornare. Etiam aliquam, justo sit amet malesuada condimentum, augue tortor aliquet mi, sit amet ornare felis tortor consequat turpis. Nulla imperdiet diam vitae lectus scelerisque viverra. Sed aliquet, erat at pretium dapibus, felis leo pharetra massa, sit amet tempor sem metus vitae est.
                        Nam pretium volutpat dolor, eu viverra dui molestie ullamcorper.
                    </p>
                </div>
                <div class="col info">
                    <div class="row">
                        <table class = "table table-primary table-bordered table-hover">
                            <tr>
                                <td>GSM</td>
                                <td>05386414099</td>
                            </tr>
                            <tr>
                                <td>MAİL</td>
                                <td>mehmetcetins@hotmail.com</td>
                            </tr>
                            <tr>
                                <td>ADRES</td>
                                <td>altıntepsi mh akpınar cad no 94 d:1</td>
                            </tr>
                        </table>
                    </div>
                    <div class="row location">

                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="../js/jquery.js"></script>
<script src="../js/script.js"></script>
</body>
</html>